{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Подать статью - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <form class="space-y-6 max-w-2xl mx-auto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h5 class="text-3xl md:text-4xl font-bold text-gray-900 text-center dark:text-white">Заявка на публикацию</h5>
        
        <div>
            {{ form|crispy }}
        </div>
        
        <button type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Тапсырманы жіберу
        </button>
    </form>
</div>
{% endblock content %}
