{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Подать статью - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 mb-10">
        <div class="p-5 mx-2 bg-gray-50 rounded-lg text-center">
            <h1 class="font-bold mb-2 text-xl text-gray-900">Шаг 1</h1>
            <span class="text-gray-600">Знакомство с требованиями</span>
        </div>
        <div class="p-5 mx-2 bg-blue-700 rounded-lg text-center text-white">
            <h1 class="font-bold mb-2 text-xl">Шаг 2</h1>
            <span>Отправить статью</span>
        </div>
        <div class="p-5 mx-2 bg-gray-50 rounded-lg text-center">
            <h1 class="font-bold mb-2 text-xl text-gray-900">Шаг 3</h1>
            <span class="text-gray-600">Оплата</span>
        </div>
    </div>

    <form class="space-y-6 max-w-2xl mx-auto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h5 class="text-3xl md:text-4xl font-bold text-gray-900 text-center dark:text-white">Заявка на публикацию</h5>
        
        <div>
            {{ form|crispy }}
        </div>
        
        <button type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Отправить
        </button>
    </form>
</div>
{% endblock content %}
