{% extends 'base.html' %}
{% load static %}

{% block title %}
Подать статью - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 mb-5">
        <div class="p-5 mx-2 bg-blue-700 rounded-lg text-center text-white">
            <h1 class="font-bold mb-2 text-xl">Шаг 1</h1>
            <span>Знакомство с требованиями</span>
        </div>
        <div class="p-5 mx-2 bg-gray-50 rounded-lg text-center">
            <h1 class="font-bold mb-2 text-xl">Шаг 2</h1>
            <span>Отправить статью</span>
        </div>
        <div class="p-5 mx-2 bg-gray-50 rounded-lg text-center">
            <h1 class="font-bold mb-2 text-xl">Шаг 3</h1>
            <span>Оплата</span>
        </div>
    </div>

    <div>
        <h1 class="text-4xl font-bold">Порядок представления и публикации материалов</h1>

        <div class="mt-5">
            <span class="font-bold">
                Желающие опубликовать статьи в сборнике могут направить
                свои материалы двумя способами:
            </span>
            <ul class="list-disc pl-5">
                <li>по электронному адресу info.jsrjournal@gmail.com прикрепив:</li>
                <li>статью (образец оформления в Приложении 1);</li>
                <li>заполненную анкету автора (Приложение 2);</li>
                <li>Оплата производиться только после принятия статьи к публикации</li>
            </ul>
        </div>

        <div class="mt-5">
            <span class="font-bold">
                «Подать статью». URL: https
            </span>
            <ul class="list-disc pl-5">
                <li>В имени файла укажите фамилию первого автора.</li>
                <li>В течение дня после поступления материалов редакция по
                    электронной почте подтверждает принятие материалов к публикации
                    и отправляет реквизиты для оплаты орг.взноса.
                </li>
                <li>
                    Все статьи проходят: проверку на плагиат.
                    Оригинальность текста должна составлять не менее 80% от объема статьи;
                </li>
            </ul>
        </div>

        <div class="mt-5">
            <span class="font-bold">
                Статья не должна:
            </span>
            <span>
                быть ранее опубликована, а также представлена для рассмотрения и
                публикации в другом издании.
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Запрещается:
            </span>
            <span>
                использовать способы для обхода антиплагиата: слова-формулы,
                замену русских букв латинскими и т.д. Данные нарушения выявляются
                с помощью программного обеспечения и статья возвращается на доработку.
            </span>
        </div>
        <div class="mt-2">
            <span>
                В течение 1-ой недели после окончания приема статей сборник будет
                размещен на сайте в разделе <a class="text-blue-700 underline"
                    href="{% url 'publishers' %}">Выпуски</a>.
            </span>
        </div>
        <div class="mt-2">
            <span>
                Авторы статьи могут заказать <b>сертификат о публикации</b> на бланке
                формата А4 совершенно бесплатно.
            </span>
        </div>
    </div>

    <!-- Требования к оформлению статьи -->
    <div class="mt-10">
        <h1 class="text-4xl font-bold">Требования к оформлению статьи</h1>

        <div class="mt-5">
            <span class="font-bold">
                Объем:
            </span>
            <span>
                к публикации принимаются статьи объемом не менее 4-х страниц, без учета метаданных (сведений об авторе,
                аннотаций и ключевых слов, списка литературы)
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Язык публикаций:
            </span>
            <span>
                Русский, казахский, английский, кыргызский, украинский, белорусский, азербайджанский, узбекский, грузинский, китайский, французский, немецкий, таджикский, армянский.
            </span>
        </div>

        <div class="mt-2">
            <h1 class="font-bold">Требования к тексту статьи:</h1>
            <span class="font-bold">
                Формат:
            </span>
            <span>
                статьи должны быть выполнены в текстовом редакторе Microsoft Word (.docx, .doc, .rtf). Размер страницы – А4, ориентация листа – книжная. Страницы не нумеруются.
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Шрифт:
            </span>
            <span>
                TNR (Times New Roman) 
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Размер:
            </span>
            <span>
                (кегль) 14
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Интервал:
            </span>
            <span>
                междустрочный полуторный (1,15) 
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Шрифт:
            </span>
            <span>
                TNR (Times New Roman) 
            </span>
        </div>
        <div class="mt-2">
            <span class="font-bold">
                Поля:
            </span>
            <span>
                указать в WORD  ->разметка страницы- >поля -> Обычные. ( Программа сама выставит значения).
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Отступ Абзаца:
            </span>
            <span>
                1,25 см. (красная строка)
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Сноски:
            </span>
            <span>
                в тексте (если есть) ставятся в автоматическом режиме, в конце каждой страницы. (размер шрифта для сносок 9 кегль.) Так же ссылаться на цитируемый текст можно Ссылками [1, с. 209].
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Таблицы:
            </span>
            <span>
                схемы, рисунки, формулы, графики не должны выходить за пределы указанных полей (шрифт в таблицах и на рисунках – не менее 11 пт). Если схемы состоят из нескольких частей - они должны быть объединены. Учитывайте то, что ваша статья будет «двигаться» при верстке, схемы и таблицы не должны «поплыть». Так как журнал электронный, вы можете оставить цветные иллюстрации в тексте. 
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Таблицы:
            </span>
            <span>
                схемы, рисунки, формулы, графики не должны выходить за пределы указанных полей (шрифт в таблицах и на рисунках – не менее 11 пт). Если схемы состоят из нескольких частей - они должны быть объединены. Учитывайте то, что ваша статья будет «двигаться» при верстке, схемы и таблицы не должны «поплыть». Так как журнал электронный, вы можете оставить цветные иллюстрации в тексте. 
            </span>
        </div>

        <div class="mt-2">
            <h1 class="font-bold">До основного текста статьи: </h1>
            <span class="font-bold">
                Индекс УДК:
            </span>
            <span>
                присваивается индекс УДК, строчные буквы, шрифт – Times New Roman ,12, интервал – 1.15, выравнивание по левому краю. 
            </span>
            <span>
                УДК (Универсальная десятичная классификация) - система классификации информации, используется для систематизации произведений науки, литературы и искусства, периодической печати, различных видов документов и организации картотек. Индекс можно получить в библиотеке учебного заведения или найти через Интернет на сайте: <a class="text-blue-700 underline" href="https://teacode.com/online/udc/">https://teacode.com/online/udc/</a>
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
                Информация об авторах:
            </span>
            <span>
                выравнивание по правому полю, жирный курсив: 1 строка - фамилии и инициалы автора, ученая степень, ученое звание, 2 строка – должность, наименование организации, 3 строка - страна, город. Если у вас больше одного автора - порядок сохраняется для каждого автора. *Если вы хотите указать научного руководителя, то это следует сделать после перечисления всех авторов. Написав: Научный руководитель: Ф.И.О.
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
               Заголовок (название) статьи:
            </span>
            <span>
                ниже через один интервал заголовок статьи прописными буквами, шрифт – полужирный, Times New Roman 12, интервал – 1.15, выравнивание по центру.
            </span>
        </div>

        <div class="mt-2">
            <span class="font-bold">
               Аннотация и ключевые слова:
            </span>
            <span>
                через отступ в один интервал пишется аннотация и ключевые слова, шрифт – курсив, Times New Roman 12, интервал – 1.15, выравнивание по ширине.
            </span>
        </div>

        <div class="mt-2">
            <h1 class="font-bold">После текста:</h1>
            <span class="font-bold">
                Библиографический список:
            </span>
            <ul class="list-disc pl-5">
                <li>
                    (Использованные источники) Записи в библиографическом списке оформляются по правилам описания библиографических ссылок в соответствии с ГОСТ Р 7.0.5-2008
                    Образец оформления статьи представлен в Приложении 1.
                </li>
                <li>
                    Минимальный объем статьи – 4 страницы. Максимальный объем статей не ограничивается. Максимальное количество авторов статьи – 4 автора. От одного автора (соавторов) может быть прислано несколько статей.
                </li>
                <li>
                    В оплату публикации одной статьи (независимо от количества ее соавторов) входит электронный вариант сборника трудов (выкладывается на сайте, рассылается по почте). 
                </li>
                <li>
                    Оплата осуществляется в случае принятия статьи к публикации Издательством (авторы будут проинформированы ответным письмом)
                </li>
                <li>
                    После оплаты не забудьте отправить скриншот или фото на email: info.jsrjournal@gmail.com 
                </li>
            </ul>

        </div>

        <div class="mt-2">
            <span class="font-bold">
                Именные сертификаты и благодарственные письма:
            </span>
            <span>
                на бланке формата А4 выдаются авторам бесплатно.
            </span>
        </div>
    </div>

    <!-- Подать статью -->
    <div class="mt-5">
        <a 
            href="{% url 'create' %}"
            class="inline-block px-6 py-3 rounded-lg bg-blue-700 text-white transition-all hover:bg-blue-500"
        >
            Подать статью
        </a>
    </div>
</div>
{% endblock content %}