{% extends 'base.html' %}
{% load static %}

{% block title %}
    Состав редакционной коллегии - Journal of Science and Research (JSR)
{% endblock title %}


{% block content %}
<div class="mx-auto container px-5 py-10">
    <h1 class="text-3xl md:text-4xl font-bold text-center">Состав редакционной коллегии</h1>

    <div class="mt-8 mx-auto max-w-screen-md">

        <dl class="text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Научный редактор:</dt>
                <dd class="text-lg font-semibold">Жукабаева Тамара Кокеновна</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    PhD по специальности «Информатика, вычислительная техника и управление», 
                    Ассоциированный профессор по специальности «Информатика, вычислительная 
                    техника и управление», г. Астана, Казахстан.
                </dt>
            </div>

            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Заместитель научного редактора:</dt>
                <dd class="text-lg font-semibold">Абдилдаевой Асель Асылбековны</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    PhD по специальности «Информационные системы», Ассоциированный профессор 
                    по специальности «Информатика, вычислительная техника и управление», 
                    г. Алматы, Казахстан.
                </dt>
            </div>

            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Члены редакционной коллегии:</dt>
                <dd class="text-lg font-semibold">Адамова Айгуль Дюсенбиновна</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    PhD, по специальности «Вычислительная техника и программное обеспечение», 
                    г. Астана, Казахстан.
                </dt>
            </div>

            <div class="flex flex-col pb-3">
                <dd class="text-lg font-semibold">Естурлиева Айгуль Икласовна</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    кандидат экономических наук, по специальности «Экономика», 
                    г. Атырау, Казахстан.
                </dt>
            </div>

            <div class="flex flex-col pb-3">
                <dd class="text-lg font-semibold">Ауешова Багдат Тлектесовна</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    кандидат юридических наук, ассоциированный профессор (доцент), 
                    г. Атырау, Казахстан.
                </dt>
            </div>

            <div class="flex flex-col pb-3">
                <dd class="text-lg font-semibold">Егенисова Алмажай Құлжанқызы</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    кандидат педагогических наук, доцент, г. Атырау, Казахстан.
                </dt>
            </div>
            
            <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Ответственный и технический секретарь:</dt>
                <dd class="text-lg font-semibold">Баумуратова Диларам Бекбулатовна</dd>
                <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">
                    PhD, по специальности «Информатика», г. Астана, Казахстан.
                </dt>
            </div>
        </dl>

    </div>
</div>
{% endblock content %}
