{% extends 'base.html' %}
{% load static %}

{% block title %}
    Об издательстве - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <h1 class="text-3xl md:text-4xl font-bold text-center">Об издательстве</h1>
    
    <div class="max-w-2xl mx-auto">
        <img src="{% static 'images/bg-logo.jpeg' %}" class="w-96 mx-auto block rounded-lg" alt="">

        <div class="text-gray-900 text-center">
            <h1 class="text-xl font-bold mt-5 lg:mt-0">
                Международный электронный научный журнал «Journal of Science and Research»
            </h1>
            <span class="my-5 block">
                Международный научный журнал  «Journal of Science and Research (JSR)» 
                зарегистрирован в Комитете информации Министерства информации и 
                общественного развития Республики Казахстан. Свидетельство 
                регистрации: № KZ00000000 от 04.09.2023 г.
            </span>
        </div>
    </div>
</div>
{% endblock content %}