{% extends 'base.html' %}
{% load static %}

{% block title %}
    Об издательстве - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <h1 class="text-3xl md:text-4xl font-bold text-center">Об издательстве</h1>
    
    <div class="container px-5 md:px-40 py-10 mx-auto grid grid-cols-1 md:grid-cols-2">
        <img src="{% static 'images/bg-logo.jpeg' %}" class="w-[580px] mx-auto block rounded-lg md:mx-0" alt="">

        <div class="text-gray-900 text-center md:ml-10 md:text-justify">
            <span class="my-2 block">
                <span class="ml-5"></span>Редакционная коллегия журнала приглашает опубликовать свои 
                научные исследования и труды в периодическом международном научном журнале  
                «Journal of Science and Research (JSR)»
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Международный научный журнал «Journal of Science and Research (JSR)» (г. Астана) выпускает научный журнал давая возможность авторам опубликовать статьи быстро и качественно!
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>В журнале публикуются научные статьи фундаментального и прикладного характера по актуальным вопросам современной науки, способствуя тем самым распространению научных достижений в интернет пространстве.
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Тематические направления журнала: Педагогические, общественно-социальные, технические, экономические и юридические науки, информационно-коммуникационные технологии, теоретические и научно-практические научные исследования, наука.
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Языки публикаций: Русский, казахский, английский, кыргызский, украинский, белорусский, азербайджанский, узбекский, грузинский, китайский, французский, немецкий, таджикский, армянский.
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Для наших дорогих авторов мы предоставим сертификат и справку о публикации статьи.
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Все документы соответствуют требованиям аттестации педработников, магистрантов и докторантов.
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Международный научный журнал «Journal of Science and Research (JSR)» (г. Астана) действует на основании Закона Республики Казахстан «О средствах массовой информации» Свидетельство о регистрации СМИ: № KZ41VPY00076697 г.Астана. Дата выдачи 01.09.2023 года. 
            </span>
            <span class="my-2 block">
                <span class="ml-5"></span>Журнал зарегистрирован в комитете информации, министерства информации и общественного развития Республики Казахстан, регистрационный номер: KZ41VPY00076697.
            </span>
            <ul class="pl-10 list-disc">
                <li>Приём статей в журнал: круглосуточно</li>
                <li>График выхода журнала: 2 раза в месяц</li>
                <li>В случае всли у Вас возникли вопросы при отправке статьи, Вы всегда можете обратиться в наш справочный центр Whats App по номеру +7 (775) 719-2273 или написать на наш почтовый адрес: info.jsrjournal@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}