{% extends 'base.html' %}
{% load static %}

{% block title %}
    Оплата - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div class="mx-auto container px-5 py-10">
    <h1 class="text-3xl md:text-4xl font-bold text-center pb-5">Способы оплаты</h1>

    <div class="grid gap-5 grid-cols-1 md:grid-cols-2">
        <div class="">
            <h1 class="text-xl font-bold">Стоимость публикации: 6000тг/1100руб</h1>
            
            <div class="mt-5">
                <ul class="rounded-lg p-5 bg-blue-100">
                    <li><strong>ТОО:</strong> «Учебный центр «Smart.teach.kz»</li>
                    <li><strong>БИН (ИИН):</strong> 230340010946</li>
                    <li><strong>Банк:</strong> АО "Kaspi Bank"</li>
                    <li><strong>КБе:</strong> 17</li>
                    <li><strong>Номер счёта:</strong> KZ66722S000023281855</li>
                </ul>
            </div>
        </div>

        <div class="">
            <div>
                <img src="{% static '/images/payment.png' %}" class="w-[520px] mx-auto" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}