{% extends 'base.html' %}
{% load static %}

{% block title %}
    Все выпуски - Journal of Science and Research (JSR)
{% endblock title %}

{% block content %}
<div>
    <!-- Выпуски журнала -->
    <div class="py-20 bg-gray-50">
        <h1 class="text-2xl md:text-3xl xl:text-4xl text-center font-bold">Все выпуски</h1>
        <form action="" class="max-w-2xl mx-auto mt-10">
            <div class="flex">
                <input type="text" placeholder="Поиск..." class="w-full rounded-lg border-gray-300">
                <button class="text-xl text-gray-600 ml-2 bg-white px-3 border-gray-300 rounded-lg border"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    <div class="my-10 mx-auto container px-5 grid gap-5 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        {% for item in all_publisher %}
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div>
                    <img class="rounded-t-lg" src="{% static '/images/poster.png' %}" alt="" />
                </div>
                <div class="p-5">
                    <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">
                        Выпуск: {{ item.date_created }}
                    </p>
                    <a href="{{ item.file.url }}" download="true" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Скачать PDF
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}